.bg-orange-400{
    background: #FCB040 !important;
}
.text-blue-900{
   color:#24437F!important
}
.nav__link:hover{
    color:#FCB040;
 }
 
 .nav__link2:hover{
    color:white !important;
 }
 
 /* .nav__link2{
    color:white !important;
 } */
 .active{
    color: !important;
 }
 
 
 .transition{
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.3s ease; /* Thêm transition cho hiệu ứng mềm mại */
 }
  
 .transition:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Thay đổi box-shadow khi hover */
 }
 /* Hide the sub-menu by default */
 .sub-menu {
    display: none;
    width:280px;
    position: absolute;
    top: 145%; 
    left: 15px; 
    z-index: 9999 !important; 
  }
  
  /* Show the sub-menu when hovering over the parent div */
  .menu:hover .sub-menu {
    display: flex;
  }
 
 .sub-submenu{ 
    display: none;
    color:white !important;
    background:#FCB040 !important;
    width:300px !important;
    position: absolute;
    top: -8px; 
    left: 100.5%; 
    z-index: 999 !important; 
 }
 
  .sub-menu-current:hover .sub-submenu{
    display: flex;
  }
 
  .btn:hover{
    background:#
  }

  .blur-image {
   position:absolute;
   top:0;
   left:0;
   right:0;
   bottom:0;
   background-size: cover;
   background: linear-gradient(to bottom, rgba(255, 255, 255, 0.0), rgba(0, 0, 0, 0.5)) !important;
   /* z-index: -3; */
}
.bg-blur {
   background: rgba(255, 255, 255, 0.80) !important;
}

.centered-element {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
 }
 .additional-content {
   display: none;
 }

 .box:hover .additional-content {
   display: flex;
 }

 .box:hover .box2 {
   display: none;
 }
 
.blur-image_banner{
   background-size: cover;
   // background-color:
   filter: grayscale(60%) !important;// Điều chỉnh độ mờ bằng cách thay đổi giá trị px */
    z-index: -3;
}
#banner > img, .banner-img {
   height: calc(100vh - 0px) !important;
   width: 100vw;
}

.banner-content {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: 100%;
   padding: 350px;
   display: flex;
   flex-direction: column;
  // gap: 20px;
   justify-content: center;
   align-items: center;
   text-align: center;
   color: #fff;
}

.banner-title {
   font-weight: 700;
   font-size: 48px;
   text-shadow: 0px 0px 20px rgba(55,55,55,1);
  
}
#stickyNav {
   position: -webkit-sticky;
   position: sticky;
   top: 0;
   z-index: 1000;
 }

  /* CSS cho mobile */
 @media only screen and (max-width: 768px) {
    .sub-menu {
       display: none;
       width:265px;
       position: absolute;
       top: 110%; 
       left: 0px; 
       z-index: 1000; 
     }
     
     /* Show the sub-menu when hovering over the parent div */
     .menu:hover .sub-menu {
       display: flex;
     }
    
    .sub-submenu{ 
       display: none;
       width:300px;
       position: absolute;
       top: -10px; 
       left: 101%; 
       z-index: 999; 
    }
    
     .sub-menu-current:hover .sub-submenu{
       display: flex;
     }

     .blur-image {
      position:absolute;
      top:0;
      left:0;
      right:0;
      bottom:0;
      background-size: cover;
      background: linear-gradient(to bottom, rgba(255, 255, 255, 0.0), rgba(0, 0, 0, 0.5)) !important;
      /* z-index: -3; */
   }
 .bg-blur-image{
   background: linear-gradient(to bottom, rgba(255, 255, 255, 0.0), rgba(0, 0, 0, 0.5)) !important;
 }
   
   #banner > img, .banner-img {
      height: calc(30vh - 0px) !important;
      width: 100vw;
      object-fit: cover;
  }

   .banner-content {
      //font-family: ''Noto Sans Tai Viet' !important';
      padding-left: 50px;
      padding-right: 50px;
      padding-top: 20px;
      padding-bottom: 20px;
      //gap: 15px;
  }

  .banner-title {
      font-weight: 400;
      font-size: 18px;
     
      text-shadow: 0px 0px 10px rgba(55,55,55,1);
    //  font-family: 'Noto Sans Tai Viet' !important;
  }
   
   }
 