@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

@font-face {
   font-family: 'Aken Latin';
   src: url('~/assets/font/AnekLatin-VariableFont_wdth,wght.ttf') format('truetype'); /* Replace with the actual path to your font file */
}


body {
   font-family: 'Aken Latin', sans-serif;
}


main {
   overflow-x: hidden;
}

.background {
   background: #24437F !important;
}

.background_second {
   background: #FCB040 !important;
}

.max-content{
   max-width:1280px;
   margin-left:auto;
   margin-right:auto;
}

li {
   list-style: none;
}



 
