Project_Group5/.vs/Project_Group5/FileContentIndex/59c5bac5-e624-4d20-b87e-e1a06f576516.vsidx
Project_Group5/.vs/Project_Group5/DesignTimeBuild/.dtbcache.v2
Project_Group5/obj/Debug/net6.0/project.razor.vs.bin
Project_Group5/.vs/Project_Group5/FileContentIndex/7030f6cb-8279-4356-bd60-f93a7c8d6415.vsidx
Project_Group5/.vs/Project_Group5/FileContentIndex/5db665e2-2f5b-482c-a534-466fb1785227.vsidx
Project_Group5/.vs/Project_Group5/FileContentIndex/e9a0a813-cbb3-436c-a3b8-49ceb7b3fb58.vsidx
Project_Group5/.vs/Project_Group5/FileContentIndex/8aa5c236-77a6-4cb4-9aa9-2943d16e30c7.vsidx
Project_Group5/.vs/Project_Group5/FileContentIndex/8645252b-fec2-4c7b-86b0-a4f328a6e277.vsidx
Project_Group5/.vs/Project_Group5/FileContentIndex/a033cd33-58cc-4227-a116-e1889a4dd1b2.vsidx
