@page "/gioithieu"
@model Project_Group5.Pages.Homepage.IntroModel
@{
    Layout = "_Layout";

}
<body>
    <main>

        <!--Giới thiệu chung-->
        <section class="max-content py-10 md:py-20 md:px-0 px-5">
            <div class="flex gap-5 max-md:flex-col max-md:gap-0">
                <div class="flex flex-col w-6/12 max-md:ml-0 max-md:w-full">
                    <article class="flex flex-col px-0  text-lg font-semibold max-md:mt-1 max-md:max-w-full">
                        <div class="shrink-0 h-[0.5px] bg-orange-400 border-2 md:border-4 border-[#FCB040] border-solid max-md:max-w-full w-[100px] md:w-[150px]">
                        </div>
                        <h2 class="max-w-[500px] mt-2 md:mt-8 md:text-5xl text-blue-900 md:leading-[60px] max-md:max-w-full max-md:text-3xl max-md:leading-[48px]">
                            Giới thiệu chung về Khách sạn DFT
                        </h2>
                        <p class="mt-7 text-base md:text-lg text-neutral-700 max-md:max-w-full text-justify">
                            DFT Hotels là chuỗi khách sạn 4 sao đạt tiêu chuẩn quốc tế, mang đến trải nghiệm nghỉ dưỡng hoàn hảo và
                            sang trọng cho mọi đối tượng khách hàng. Khách sạn được trang bị các tiện nghi hiện đại, đảm bảo sự thoải
                            mái tối đa cùng phong cách phục vụ tận tâm, chuyên nghiệp.
                            <br />
                            <br />
                            Chúng tôi cam kết mang đến dịch vụ lưu trú chất lượng cao, đáp ứng các nhu cầu đa dạng của khách hàng và
                            mang lại những trải nghiệm đáng nhớ trong mỗi hành trình.
                        </p>
                        <a href="#"
                           class="flex gap-2 text-base md:text-lg self-start px-9 py-3.5 md:mt-16 text-white background_second rounded-[500px] max-md:px-5 max-md:mt-6">
                            <span class="grow">Xem thêm</span>
                            <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/0eae846d4e9e4ee43b2ba5c12cda7fe0a867600207fe7a08c5b31c6a216688f7?apiKey=4ea98b4671db4e878c37ea9c15c28237&"
                                 alt="" class="shrink-0 w-4 aspect-square" />
                        </a>
                    </article>
                </div>
                <div class="flex flex-col ml-8 w-6/12 max-md:ml-0 max-md:w-full">
                    <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/9aa3e66a048c4de588e8ac2a1ee31c9fe1103d9c77fe70b1e5d06473469eb36b?apiKey=4ea98b4671db4e878c37ea9c15c28237&"
                         alt="Giới thiệu chung về DFT Hotels" class="grow w-full aspect-[1.16] max-md:mt-10 max-md:max-w-full" />
                </div>
            </div>
        </section>

        <!--Thư ngỏ-->
        <section class="flex overflow-hidden relative flex-col justify-center text-white h-[850px] md:h-[800px]">
            <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/9e7f9ebb9864dc69fded687cdd6cb2be81816443eb9be97b5156c23bd028bc36?apiKey=4ea98b4671db4e878c37ea9c15c28237&"
                 alt="" class="object-cover absolute inset-0 size-full" />
            <div class="flex absolute top-0 left-0 right-0 justify-center items-center px-16 py-10 md:py-20 w-full h-full bg-blue-900 bg-opacity-90 max-md:px-5 max-md:max-w-full">
                <div class="max-content flex flex-col items-center mt-0 md:mt-5 mb-36 w-full max-md:mb-10 max-md:max-w-full">
                    <div class="shrink-0 h-1 bg-white border-3 md:border-4 border-white border-solid w-[100px] md:w-[150px]">
                    </div>
                    <h2 class="mt-3 md:mt-6 text-5xl font-bold md:leading-8 text-center max-md:text-3xl leading-[48px]">
                        Thư ngỏ
                    </h2>
                    <div class="self-stretch md:mt-20 text-base md:text-lg max-md:mt-8 max-md:max-w-full text-justify">
                        <p>Trân trọng kính chào Quý khách,</p>
                        <p class="mt-6">
                            Khách sạn DFT xin gửi lời cảm ơn sâu sắc tới Quý khách hàng đã tin tưởng và lựa chọn dịch vụ
                            của chúng tôi. Với sứ mệnh đem lại trải nghiệm nghỉ dưỡng đẳng cấp, chúng tôi luôn nỗ lực để mang đến
                            không gian lưu trú sang trọng, tiện nghi và đáng nhớ.
                        </p>
                        <p class="mt-6">
                            Hệ thống khách sạn DFT được đầu tư kỹ lưỡng từ vị trí đến cơ sở vật chất, với các tiện ích
                            như nhà hàng, phòng hội nghị, khu spa và các dịch vụ khác nhằm đáp ứng mọi nhu cầu nghỉ dưỡng của Quý
                            khách.
                        </p>
                        <p class="mt-6">
                            Chúng tôi hy vọng sẽ có cơ hội đón tiếp Quý khách trong thời gian sắp tới và cam kết mang
                            lại những phút giây tuyệt vời nhất.
                        </p>
                        <p class="mt-6">Trân trọng,</p>
                        <p>Ban quản lý khách sạn DFT</p>
                    </div>
                </div>
            </div>
        </section>

        <!-- Lịch sử hình thành và phát triển giữ nguyên -->
        <!--Lịch sử hình thành-->
        <section class="py-10 md:py-20 flex overflow-hidden relative flex-col justify-center min-h-[1450px] md:min-h-[1850px]">
            <img loading="lazy"
                 src="https://cdn.builder.io/api/v1/image/assets/TEMP/43c44560456985b6030ba02b088411a84375f7c01082b234608b931155d204dd?apiKey=4ea98b4671db4e878c37ea9c15c28237&"
                 alt="" class="object-cover absolute inset-0 w-full h-full" />
            <div class="flex absolute top-0 justify-center items-center px-5 w-full h-full bg-blue-900 bg-opacity-90 sm:px-5 sm:max-w-full">
                <div class="flex flex-col mt-0 md:mt-10 mb-5 max-content  max-md:max-w-full">
                    <div class="shrink-0 h-1 bg-white border-3 md:border-4 border-white border-solid w-[100px] md:w-[150px] max-md:max-w-full">
                    </div>
                    <h2 class="mt-3 md:mt-6 text-5xl font-bold text-white md:leading-[60px]  max-md:max-w-full max-md:text-3xl leading-[40px] ">
                        Lịch sử hình thành và phát triển
                    </h2>
                    <div class="hidden md:block">
                        <!--Content Step trên-->
                        <div class="flex justify-between gap-16 items-end self-center mt-20 max-w-full w-[1268px] max-md:flex-wrap max-md:mt-10">
                            <div class="flex flex-col items-center ml-24 mt-16 max-md:mt-10">
                                <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/3e380c4df4cc01fd7c8db2cec9c791e3f9e110c8f3e16a70dfebe2c8cf02c9d3?apiKey=4ea98b4671db4e878c37ea9c15c28237&"
                                     alt="2023 milestone" class="aspect-square w-[88px]" />
                            </div>
                            <div class="max-w-[240px] flex flex-col self-stretch text-white mb-16 ml-10">
                                <h3 class="text-3xl font-bold leading-[60px]">2023</h3>
                                <p class="mt-1 text-base">
                                    Nhà máy sản xuất nội thất đầu tiên chính thức được xây dựng tại Cổ Loa Đông Anh Hà Nội
                                </p>
                            </div>
                            <div class="flex flex-col items-center mt-16 ml-4 max-md:mt-10">
                                <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/41767b78544f70548b41ad15a0818c65ee6bf44196fe92137576bbfcce0939c5?apiKey=4ea98b4671db4e878c37ea9c15c28237&"
                                     alt="2018 milestone" class="aspect-square w-[88px]" />
                            </div>
                            <div class=" flex flex-col self-stretch text-white ml-16">
                                <h3 class="text-3xl font-bold leading-[60px]">2018</h3>
                                <p class="mt-1 text-base">
                                    Nhận góp vốn từ cổng đông Nhật đưa DTF trở thành công ty có tiêu chuẩn Nhật Bản
                                </p>
                            </div>
                            <div class="flex flex-col items-center mt-16 max-md:mt-10 mr-32">
                                <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/dd12d78ccac326eed2d2ddd25d229fb5bd791381f304dab2c4cceeabda994a5c?apiKey=4ea98b4671db4e878c37ea9c15c28237&"
                                     alt="2012 milestone" class="aspect-square w-[88px]" />
                            </div>
                        </div>
                        <!--Thanh Step-->
                        <div class="flex items-center justify-center mt-6">
                            <div class="w-[115px] flex h-[0.5px] bg-gray-300 mt-4"></div>
                            <!-- Step 1 -->
                            <div class="relative">
                                <div class=" shrink-0 mt-[16px] w-2 h-2 bg-white rounded-full max-md:mt-10"></div>
                                <img src="./assets/images/Line 11.png" class="absolute bottom-[-67px] left-[4px]">
                            </div>
                            <div class="w-[120px] flex h-[0.5px] bg-gray-300 mt-4"></div>
                            <!-- Step 2 -->
                            <div class="relative">
                                <div class=" shrink-0 mt-[16px] w-2 h-2 bg-white rounded-full max-md:mt-10"></div>
                                <img src="./assets/images/Line 11.png" class="absolute top-[-58px] left-[4px]">
                            </div>
                            <div class="w-[335px] flex h-[0.5px] bg-gray-300 mt-4"></div>
                            <!-- Step 3 -->
                            <div class="relative">
                                <div class=" shrink-0 mt-[16px] w-2 h-2 bg-white rounded-full max-md:mt-10"></div>
                                <img src="./assets/images/Line 11.png" class="absolute bottom-[-67px] left-[4px]">
                            </div>
                            <div class="w-[140px] flex h-[0.5px] bg-gray-300 mt-4"></div>
                            <!-- Step 4 -->
                            <div class="relative">
                                <div class=" shrink-0 mt-[16px] w-2 h-2 bg-white rounded-full max-md:mt-10"></div>
                                <img src="./assets/images/Line 11.png" class="absolute top-[-58px] left-[4px]">
                            </div>
                            <div class="w-[370px] flex h-[0.5px] bg-gray-300 mt-4"></div>
                            <!-- Step 5 -->
                            <div class="relative">
                                <div class="shrink-0 mt-[16px] w-2 h-2 bg-white rounded-full max-md:mt-10"></div>
                                <img src="./assets/images/Line 11.png" class="absolute bottom-[-67px] left-[4px]">
                            </div>
                            <div class="flex-1 h-[0.5px] bg-gray-300 mt-4"></div>

                        </div>
                        <!--Content Step dưới-->
                        <div class="grid grid-cols-3 gap-24 justify-between items-start mt-20 text-white max-md:flex-wrap max-md:mt-10 max-md:max-w-full">
                            <div class="flex flex-col min-w-[250px] mr-28">
                                <h3 class="self-center text-3xl font-bold text-center leading-[60px]">2012</h3>
                                <p class="mt-1 text-base">
                                    Thành lập Công ty với tên gọi CTCP Xây dựng và Thương Mại Đông Anh
                                </p>
                            </div>
                            <div class="flex flex-col mr-24">
                                <h3 class="self-center text-3xl font-bold text-center leading-[60px]">2015</h3>
                                <p class="mt-1 text-base">
                                    Mở rộng lĩnh vực sang bất động sản phục vụ toàn diện các dịch vụ với chất lượng cao đến khách hàng,
                                    đối tác
                                </p>
                            </div>
                            <div class="flex flex-col self-stretch ">
                                <h3 class="self-center text-3xl font-bold text-center leading-[60px]">2018 trở đi</h3>
                                <p class="mt-1 text-base">
                                    Thiết kế thi công nhiều công trình văn phòng, trường học, khách sạn lớn cho các đối tác Việt Nam, Nhật
                                    Bản. Khách
                                    hàng ngày càng tin tưởng trao tay DTF những đơn đặt hàng giá trị cao với độ phức tạp ngày một lớn
                                </p>
                            </div>
                        </div>
                    </div>
                    <!--MAP-->
                    <div class="mt-24 max-md:mt-10 max-md:max-w-full">
                        <div class="flex gap-5 max-md:flex-col max-md:gap-0">
                            <div class="flex max-md:ml-0 w-[33%] max-md:w-full">
                                <div class="grid grid-cols-2 gap-5 md:flex flex-col grow max-md:mt-0">
                                    <div class="flex flex-col px-6 pt-6 pb-6 bg-white rounded-xl max-md:px-5">
                                        <h3 class="text-xl leading-[40px] md:text-3xl font-bold md:leading-[60px] text-neutral-700">
                                            Trụ sở
                                            chính
                                        </h3>
                                        <div class="shrink-0 mt-3 h-px border border-solid bg-neutral-700 bg-opacity-50 border-neutral-700 border-opacity-50">
                                        </div>
                                        <address class="mt-4 md:mt-8 text-base md:text-lg text-blue-900">
                                            <span class="font-medium">Tầng 1A, tháp C tòa Central Point,</span>
                                            <br />
                                            <span class="font-medium">219 Trung Kính, Yên Hòa, Cầu Giấy, Hà Nội</span>
                                            <br />
                                            <br />
                                            <a href="#" class="font-medium text-blue-900">Xem trên bản đồ</a>
                                        </address>
                                    </div>
                                    <div class="flex flex-col px-6 pt-6 pb-6 mt-80 bg-white rounded-xl max-md:px-5 max-md:mt-0">
                                        <h3 class="text-xl leading-[28px] md:text-3xl font-bold md:leading-[60px] text-neutral-700">
                                            Khách
                                            Sạn tại
                                            TP. HCM
                                        </h3>
                                        <div class="shrink-0 mt-3 h-px border border-solid bg-neutral-700 bg-opacity-50 border-neutral-700 border-opacity-50">
                                        </div>
                                        <address class="mt-4 md:mt-8 text-base md:text-lg text-blue-900">
                                            <span class="font-medium">Số 48 đường số 2, KDC Cityland, P7, Q. Gò Vấp, TP. Hồ Chí Minh</span>
                                            <br />
                                            <br />
                                            <a href="#" class="font-medium text-blue-900">Xem trên bản đồ</a>
                                        </address>
                                    </div>
                                </div>
                            </div>
                            <div class="flex flex-col ml-5 w-[33%] max-md:ml-0 max-md:w-full">
                                <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/cc57a4899f734d4c4e49aab4ce575b71f7874d9bea7a156e0b76d868bb6a976d?apiKey=4ea98b4671db4e878c37ea9c15c28237&"
                                     alt="Map showing company locations"
                                     class="grow w-full aspect-[0.68] max-md:mt-10 max-md:max-w-full" />
                            </div>
                            <div class="flex flex-col ml-5 w-[33%] max-md:ml-0 max-md:w-full">
                                <div class="grid grid-cols-2 gap-5 md:flex flex-col grow max-md:mt-10">
                                    <div class="flex flex-col px-6 pt-6 pb-6 bg-white rounded-xl max-md:px-5">
                                        <h3 class="text-xl leading-[28px] md:text-3xl font-bold md:leading-[60px] text-neutral-700">
                                            Khách
                                            Sạn
                                            Hà Nội
                                        </h3>
                                        <div class="shrink-0 mt-3 h-px border border-solid bg-neutral-700 bg-opacity-50 border-neutral-700 border-opacity-50">
                                        </div>
                                        <address class="mt-4 md:mt-7 text-base md:text-lg text-blue-900">
                                            <span class="font-medium">Đường Đào Duy Tùng, Cổ Loa, Đông Anh, Hà Nội</span>
                                            <br />
                                            <br />
                                            <a href="#" class="font-medium text-blue-900">Xem trên bản đồ</a>
                                        </address>
                                    </div>
                                    <div class="flex flex-col px-6 pt-6 pb-6 mt-80 bg-white rounded-xl max-md:px-5 max-md:mt-0">
                                        <h3 class="text-xl leading-[28px] md:text-3xl font-bold md:leading-[60px] text-neutral-700">
                                            Nhà máy
                                            tại TP. HCM
                                        </h3>
                                        <div class="shrink-0 mt-3 h-px border border-solid bg-neutral-700 bg-opacity-50 border-neutral-700 border-opacity-50">
                                        </div>
                                        <address class="mt-4 md:mt-7 text-base md:text-lg text-blue-900">
                                            <span class="font-medium">Số 65 Ngô Quang Thắm, Ấp 2, Long Thới, Nhà Bè, TP. Hồ Chí Minh</span>
                                            <br />
                                            <br />
                                            <a href="#" class="font-medium text-blue-900">Xem trên bản đồ</a>
                                        </address>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Tầm nhìn & Sứ mệnh -->
        <section class="max-content py-10 md:py-20 flex flex-col items-center px-5">
            <div class="shrink-0 h-[0.5]px bg-orange-400 border-2 md:border-4 border-[#FCB040] border-solid max-md:max-w-full w-[100px] md:w-[150px] mx-auto">
            </div>
            <h2 class="text-5xl md:leading-[60px] font-bold text-center text-blue-900 leading-[60px] max-md:text-3xl leading-[40px] mt-3 md:mt-6">
                Tầm nhìn
            </h2>
            <p class="mt-6 md:mt-14 md:text-lg text-base text-center text-neutral-700 max-md:max-w-full">
                Phấn đấu trở thành
                một trong những khách sạn 4 sao hàng đầu Việt Nam, luôn là sự lựa chọn ưu tiên của khách hàng nhờ vào chất lượng
                dịch vụ và sự chuyên nghiệp.
            </p>
            <div class="shrink-0 mt-24 h-1 bg-orange-400 border-3 md:border-4 border-orange-400 border-solid w-[100px]  md:w-[150px] max-md:mt-10">
            </div>
            <h2 class="mt-6 md:text-5xl leading-[60px] font-bold text-center text-blue-900 leading-[60px] max-md:mt-3 max-md:text-3xl leading-[40px]">
                Sứ mệnh
            </h2>
            <p class="md:mt-12 text-base md:text-lg text-center text-neutral-700 max-md:mt-6 max-md:max-w-full">
                Mang đến giá
                trị và trải nghiệm lưu trú cao cấp cho khách hàng, đồng thời đóng góp tích cực vào cộng đồng và ngành dịch vụ
                lưu trú tại Việt Nam.
            </p>
        </section>

        <!-- Giá trị cốt lõi -->
        <section class="py-10 md:py-20 flex justify-center items-center px-16 bg-stone-200 max-md:px-5">
            <div class="max-content flex flex-col mt-6 w-full max-md:max-w-full">
                <div class="shrink-0 h-1 bg-orange-400 border-3 md:border-4 border-orange-400 border-solid max-md:max-w-full w-[100px] md:w-[150px]">
                </div>
                <h2 class="md:mt-6 text-5xl font-bold text-blue-900 md:leading-[60px] max-md:mt-3 max-md:max-w-full max-md:text-3xl leading-[40px]">
                    Giá trị cốt lõi của DFT Hotels
                </h2>
                <p class="mt-6 md:mt-12 text-base md:text-lg text-neutral-700 max-md:max-w-full">
                    DFT Hotels tự hào với các giá
                    trị cốt lõi giúp chúng tôi trở thành lựa chọn tin cậy cho khách hàng và đối tác.
                </p>
                <div class="px-0.5 mt-20 max-md:mt-0 max-md:max-w-full">
                    <div class="flex gap-5 max-md:flex-col max-md:gap-0">
                        <div class="flex flex-col w-3/12 max-md:ml-0 max-md:w-full">
                            <div class="flex flex-col grow px-8 py-5 md:pt-10 md:pb-20 w-full bg-white max-md:px-5 max-md:mt-10">
                                <h3 class="text-xl md:text-2xl font-bold leading-6 text-slate-700">Dịch vụ tuyệt vời</h3>
                                <p class="mt-4 md:mt-6 text-base md:text-lg text-neutral-700">
                                    Cam kết chất lượng dịch vụ tốt nhất, đem
                                    lại sự hài lòng tối đa cho khách hàng.
                                </p>
                            </div>
                        </div>
                        <div class="flex flex-col ml-5 w-3/12 max-md:ml-0 max-md:w-full">
                            <div class="flex flex-col grow px-8 py-5 md:pt-10 md:pb-20 w-full bg-white max-md:px-5 max-md:mt-10">
                                <h3 class="text-xl md:text-2xl font-bold leading-6 text-slate-700">Đội ngũ chuyên nghiệp</h3>
                                <p class="mt-4 md:mt-6 text-base md:text-lg text-neutral-700">
                                    Đội ngũ nhân viên tận tâm, chu đáo và được
                                    đào tạo chuyên nghiệp theo tiêu chuẩn quốc tế.
                                </p>
                            </div>
                        </div>
                        <div class="flex flex-col ml-5 w-3/12 max-md:ml-0 max-md:w-full">
                            <div class="flex flex-col grow px-8 py-5 md:pt-10 md:pb-20 w-full bg-white max-md:px-5 max-md:mt-10">
                                <h3 class="text-xl md:text-2xl font-bold leading-6 text-slate-700">Chất lượng cao</h3>
                                <p class="mt-4 md:mt-6 text-base md:text-lg text-neutral-700">
                                    Đảm bảo chất lượng vượt trội về dịch vụ,
                                    cơ sở vật chất và trải nghiệm khách hàng.
                                </p>
                            </div>
                        </div>
                        <div class="flex flex-col ml-5 w-3/12 max-md:ml-0 max-md:w-full">
                            <div class="flex flex-col grow px-8 py-5 md:pt-10 md:pb-20 w-full bg-white max-md:px-5 max-md:mt-10">
                                <h3 class="text-xl md:text-2xl font-bold leading-6 text-slate-700">Giải pháp sáng tạo</h3>
                                <p class="mt-4 md:mt-6 text-base md:text-lg text-neutral-700">
                                    Đổi mới không ngừng để nâng cao trải
                                    nghiệm, tối ưu hóa mọi dịch vụ.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </main>
    <script src="/assets/js/main.js"></script>
    <script src="/assets/js/ngoc_swiper.js"></script>
    <script src="/assets/js/tailwind_custom.js"></script>
</body>