
.rating-bar {
    height: 20px;
    background-color: #e9ecef;
    border-radius: 10px;
    overflow: hidden;
}

.rating-fill {
    height: 100%;
    background-color: #0d6efd;
    transition: width 0.3s ease;
}

.rating-circle {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #0d6efd;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 2.5rem;
    font-weight: bold;
    margin: 0 auto;
}

.category-rating {
    color: #0d6efd;
}

.star-rating {
    color: #ffc107;
}

/* Style for the form fields */
.form-control, .form-select {
    height: 45px;
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    background-color: #f8f9fa;
    font-size: 16px;
    color: #495057;
    margin-bottom: 10px;
    transition: all 0.3s ease;
}

    .form-select:focus, .form-control:focus {
        border-color: #0d6efd;
        background-color: #e9ecef;
        color: #0d6efd;
        box-shadow: 0 0 0 0.2rem rgba(13, 110, 253, 0.25);
    }

.form-label {
    font-weight: 500;
    color: #6c757d;
}



