.room-card {
    border: 1px solid #ddd;
    margin: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
     Optional: Add box-shadow for better visuals 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.room-info {
    display: flex;
    gap: 20px;
}

.room-image {
    width: 150px;  Image width 
    height: 100px;  Image height 
    object-fit: cover;
}

.room-details {
    display: flex;
    flex-direction: column;
}

.amenities {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 10px;
}

.price {
    font-size: 18px;
    color: #ff6b6b;
}

.choose-btn {
    padding: 10px 20px;
    background-color: #c9a385;
    border: none;
    cursor: pointer;
}

.room-options {
    margin-top: 20px;
    padding: 20px;
    border-top: 1px solid #ddd;
    transition: max-height 0.2s ease-in-out;
    overflow: hidden;  Prevent overflow when collapsed 
}

select {
    margin: 5px 0;
    padding: 5px;
}

.book-now-btn {
    padding: 10px 20px;
    background-color: #c9a385;
    border: none;
    cursor: pointer;
}

.carousel-item img {
    width: 100%;  Makes the image take the full width of the container 
    height: auto;  Maintains aspect ratio 
    object-fit: cover;  Ensures the image covers the entire container without stretching 
}

.search-bar {
    display: flex;
    justify-content: center; /* Đưa thanh tìm kiếm ra giữa */
    margin-bottom: 20px;
}

    .search-bar form {
        display: flex;
        flex-wrap: wrap;
        /*gap: 10px;*/
        justify-content: center; /* Các thành phần trong form sẽ được căn giữa */
    }

    .search-bar input, .search-bar button {
        padding: 8px;
        font-size: 1rem;
        margin: 5px;
    }

    .search-bar .form-control {
        width: auto; /* Để đảm bảo input không chiếm toàn bộ chiều rộng */
    }

.check-rooms-btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
}

.selected-rooms {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.selected-room p {
    margin: 10px 0;
}

.book-now-btn {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
}

